<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>title</th>
      <th>Details</th>
      <th>Location</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each trektype.placemarks}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{details}}
        </td>
        <td>
          {{location}}
        </td>
        <td>
          <a href="/placemark/{{../trektype._id}}/editplacemark/{{_id}}" class="ui icon button">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/trektype/{{../trektype._id}}/deleteplacemark/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>